@page
@model FDFLodsedler.Pages.Tickets.VisLodseldlerModel
@{
}
<p>
    <a asp-page="/Tickets/OpretLodseldler"> Nyt Lodseldler</a>
</p>
<h1> Liste Af Lodselder</h1>

<table class="table">
    <thead>
        <tr>
            @*  <th> BarnId </th>*@
            <th>Lod_Id </th>
            <th>Børn_Id </th>
            <th>AntalUdleveret </th>
            
        </tr>
    </thead>
    <tbody>

        @if (Model.Lodseldler != null)
        {
            @foreach (var item in Model.Lodseldler)
            {
                <tr>

                    @* <td> @item.BarnId </td>*@

                    <td> @item.Lod_Id </td>
                     <td> @item.BørneId</td>
                    <td> @item.AntalUdleveret</td>
   
                    <td>
                        <a asp-page="/Tickets/SletLodselder" asp-route-sid="@item.Lod_Id" class="btn btn-danger m-1">Delete </a>
                      
                    </td>
                   
                    <td>
                        <a asp-page="/Tickets/OpdatereLodseldler" asp-route-sid="@item.Lod_Id" class="btn btn-primary">Update </a>


                    </td>

                </tr>
            }
        }
</table>