@page
@model FDFLodsedler.Pages.Sales.VisSalgModel
@{
}
<p>
    <a asp-page="/Sales/OpretSalg"> New Sales</a>
</p>
<h1>Oversigt over salg</h1>

<table class="table">
    <thead>
        <tr>
            @*  <th> BarnId </th>*@
            <th>Salg_Id </th>
            <th>Børn_Id </th>
            <th>AntalRetuneret </th>
            <th>AntalSolgt </th>

        </tr>
    </thead>
    <tbody>

        @if (Model.Salgs != null)
        {
            @foreach (var item in Model.Salgs)
            {
                <tr>

                    @* <td> @item.BarnId </td>*@

                  
                    <td> @item.BørneId </td>
                    <td> @item.AntalReturneret</td>
                    <td> @item.AntalSolgt</td>

                    <td>
                        <a asp-page="/Sales/SletSalg" asp-route-sid="@item.Salg_Id" class="btn btn-danger m-1">Slet </a>

                    </td>

                    <td>
                        <a asp-page="/Sales/OpdatereSalg" asp-route-sid="@item.Salg_Id" class="btn btn-primary">Opdater </a>


                    </td>

                </tr>
            }
        }
</table>
